<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sms.international.admin.mapper.SmsAdminLogsMapper">
	<select id="countTotal" parameterType="com.sms.international.admin.model.SmsAdminLogs" resultType="java.lang.Integer">
    select count(1) from sms_admin_logs
    <where>
        <if test="log!=null and log!=''">
            <bind name="logLike" value="'%'+log+'%'"/>
            and log like #{logLike}
        </if>
    </where>
  	</select>
  	
  	<select id="findOne" parameterType="java.lang.Integer" resultType="com.sms.international.admin.model.SmsAdminLogs">
    select id, uid, user, time, ip, log from sms_admin_logs
    where id = #{id,jdbcType=BIGINT}
  	</select>
  	
  	<select id="findByT" parameterType="com.sms.international.admin.model.SmsAdminLogs" resultType="com.sms.international.admin.model.SmsAdminLogs">
    select 
    	id, uid, user, time, ip, log
    from sms_admin_logs 
    <where>
        <if test="log!=null and log!=''">
            <bind name="logLike" value="'%'+log+'%'"/>
            and log like #{logLike}
        </if>
    </where>
    order by id desc
    <if test="currentPageIndex != null">
    limit #{currentPageIndex,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
    </if>
  </select>
  
  <delete id="deleteById" parameterType="java.lang.Integer">
    delete from sms_admin_logs
    where id = #{id,jdbcType=BIGINT}
  </delete>
  
  <insert id="save" parameterType="com.sms.international.admin.model.SmsAdminLogs">
  	<selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
        SELECT @@IDENTITY
    </selectKey>
    insert into sms_admin_logs
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        uid,
      </if>
      <if test="user != null">
        user,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="ip != null">
        ip,
      </if>
      <if test="log != null">
        log,
      </if>
      <if test="module != null and module != ''">
      	module,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="user != null">
        #{user,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="log != null">
        #{log,jdbcType=LONGVARCHAR},
      </if>
      <if test="module != null and module != ''">
      	#{module,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="update" parameterType="com.sms.international.admin.model.SmsAdminLogs">
    update sms_admin_logs
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="user != null">
        user = #{user,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="ip != null">
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="log != null">
        log = #{log,jdbcType=LONGVARCHAR},
      </if>
      <if test="module != null and module != ''">
      	module = #{module,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>
