<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sms.international.admin.mapper.SmsBlackWordsMapper">
    <resultMap id="BaseResultMap" type="com.sms.international.admin.model.SmsBlackWords">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="words" property="words" jdbcType="VARCHAR"/>
        <result column="group_id" property="group_id" jdbcType="INTEGER"/>
        <result column="addtime" property="addtime" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="screenType" property="screenType" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Select_List">
        <where>
            <if test="id != null">
                AND id = #{id,jdbcType=INTEGER}
            </if>
            <if test="words != null and words !=''">
                AND words = #{words,jdbcType=VARCHAR}
            </if>
            <if test="remark != null and remark != ''">
                AND remark LIKE CONCAT(CONCAT('%', #{remark,jdbcType=VARCHAR}), '%')
            </if>
            <if test="screenType != null">
                AND screenType = #{screenType,jdbcType=INTEGER}
            </if>
            <if test="group_id != null">
                AND group_id = #{group_id,jdbcType=INTEGER}
            </if>
        </where>
    </sql>

    <select id="findByT" resultMap="BaseResultMap" parameterType="com.sms.international.admin.model.SmsBlackWords">
        select
        id ,words , group_id , addtime,remark ,screenType
        from sioo_sms_international.sms_black_words
        <include refid="Base_Select_List"/>
        ORDER BY addtime desc
        <if test="currentPageIndex != null">
            limit #{currentPageIndex,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
        </if>
    </select>

    <select id="countTotal" resultType="java.lang.Integer" parameterType="com.sms.international.admin.model.SmsBlackWords">
        select count(0) from sioo_sms_international.sms_black_words
        <include refid="Base_Select_List"/>
    </select>

    <select id="findOne" resultType="com.sms.international.admin.model.SmsBlackWords" parameterType="java.lang.Integer">
        select id ,words , group_id , addtime,remark ,screenType
        from sioo_sms_international.sms_black_words
        where id = #{id}
    </select>

    <insert id="save" parameterType="com.sms.international.admin.model.SmsBlackWords">
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
            SELECT @@IDENTITY
        </selectKey>
        insert into sioo_sms_international.sms_black_words
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="words != null and words != ''">
                words,
            </if>
            <if test="group_id != null">
                group_id,
            </if>
            <if test="addtime != null and addtime !=''">
                addtime,
            </if>
            <if test="remark != null and remark != '' ">
                remark,
            </if>
            <if test="screenType != null">
                screenType
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="words != null and words != ''">
                #{words,jdbcType=VARCHAR},
            </if>
            <if test="group_id != null">
                #{group_id,jdbcType=INTEGER},
            </if>
            <if test="addtime != null and addtime !=''">
                #{addtime,jdbcType=VARCHAR},
            </if>
            <if test="remark != null and remark != '' ">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="screenType != null">
                #{screenType,jdbcType=INTEGER}
            </if>
        </trim>
    </insert>
    <update id="update" parameterType="com.sms.international.admin.model.SmsBlackWords">
        update sioo_sms_international.sms_black_words
        <set>
            <if test="words != null and words != ''">
                words =#{words,jdbcType=VARCHAR},
            </if>
            <if test="group_id != null">
                group_id =#{group_id,jdbcType=INTEGER},
            </if>
            <if test="addtime != null and addtime !=''">
                addtime =#{addtime,jdbcType=VARCHAR},
            </if>
            <if test="remark != null and remark != '' ">
                remark= #{remark,jdbcType=VARCHAR},
            </if>
            <if test="screenType != null">
                screenType =#{screenType,jdbcType=INTEGER}
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

	<delete id="deleteById">
		delete from sioo_sms_international.sms_black_words where id = #{id,jdbcType=INTEGER}
	</delete>

    <insert id="batchSave" parameterType="java.util.List">
        <selectKey keyColumn="id" resultType="java.lang.Integer" order="AFTER">
            select @@IDENTITY
        </selectKey>
        insert into sioo_sms_international.sms_black_words(words,group_id,addtime,remark,screenType)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
               #{item.words},
               #{item.group_id},
               #{item.addtime},
               #{item.remark},
               #{item.screenType}
            )
        </foreach>
    </insert>

    <select id="getExistWords" resultType="java.lang.Long">
        select DISTINCT words from sioo_sms_international.sms_black_words where group_id =#{group_id,javaType=INTEGER}
        and words in (
        <foreach collection="list" item="item" index="index" separator=",">
            #{item}
        </foreach>
        )
    </select>
</mapper>